{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>用户管理</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block sidebar-tool %}
{% endblock %}

{% block detail %}
    <div class="nav-detail">
        <div class="panel-heading" id="panel-user">
            <span>账户信息：</span>
            <ul>
                <li>登录账号: {{ user.username }} </li>
                <li>邮箱地址: {{ user.email }} </li>
            </ul>
        </div>
    </div>
{% endblock %}