{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
      {% block title %}
          <title>base</title>
      {% endblock %}

    <!-- Bootstrap -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
{% block basecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block css %}

{% endblock %}
  </head>
  <body>
{% block content %}
    {% include "header.html" %}
{% endblock %}

<!--侧边栏导航扩展-->
{% block material %}
    <div id="sidebar" class="nav_menu">

<!--
        <div >
    后续放图片
        </div>
-->
        <div class="sidebar-nav" id="my-accor">
            <ul class="sidebar-menu">
                <li><a href="{% url 'users:account' %}">用户管理</a></li>
            </ul>
            <ul class="sidebar-menu">
                <li><a href="{% url 'users:data' %}">数据管理</a></li>
            </ul>
        </div>
    </div>

{% endblock %}

<!--侧边栏导航-->
{% block sidebar-tool %}

    <div class="sidebar-nav sub-navbar node-header">
        <div id="main" class="main"></div>
        <link rel="stylesheet" href="/static/css/tbl_setting.css" >
        <script src="/static/js/tbl_setting.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded",function(){
          const select1 = new $Selector({
            eleSelector:"#main",
            options:[
              {name:"校验数据",value:"0"},
              {name:"模拟数据",value:"1"},
              {name:"组合数据",value:"2"}
            ],
            defaultText:"校验数据"
          });
        })
        </script>
    </div>
{% endblock %}

{% block detail %}

{% endblock %}

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="/static/bsjtool.js"></script>
    <script src="/static/js/login.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</body>
</html>