{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>BSJ工具</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<!--不继承material-->
{% block material %}

{% endblock %}
{% block sidebar-tool %}
{% endblock %}

{% block detail %}
<div class="wrap">
    <div class="cube">
        <div class="out-front">前</div>
        <div class="out-back">后</div>
        <div class="out-left">左</div>
        <div class="out-right">右</div>
        <div class="out-top">上</div>
        <div class="out-bottom">下</div>

        <span class="in-front">1</span>
        <span class="in-back">2</span>
        <span class="in-left">3</span>
        <span class="in-right">4</span>
        <span class="in-top">5</span>
        <span class="in-bottom">6</span>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}